.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #292a2a;
}
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0e0e12;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-image {
  width: 100px;
  object-fit: cover;
}
.home-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-hamburger {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #2b6362;
}
.home-hamburger:hover {
  opacity: .5;
}
.home-icon {
  width: 60px;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon01 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text001 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text002 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text003 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text004 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  fill: var(--dl-color-gray-white);
  display: flex;
}
.home-icon03 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon05 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon07 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #0e0e12;
}
.home-heading {
  top: 366px;
  left: 0px;
  color: rgb(234, 225, 213);
  right: 0px;
  width: 649px;
  margin: auto;
  position: absolute;
  font-size: 100px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Exo 2;
  font-weight: 500;
}
.home-text007 {
  top: 477px;
  left: 0px;
  color: #2b6362;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 40px;
  align-self: center;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  text-transform: uppercase;
}
.home-header-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-about {
  width: 100%;
  height: 935px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 127px;
  flex-direction: column;
  padding-bottom: 45px;
  justify-content: flex-start;
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.home-container04 {
  flex: 0 0 auto;
  width: 634px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading1 {
  color: rgb(234, 225, 213);
  width: 612px;
  font-size: 100px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Exo 2;
  font-weight: 500;
}
.home-text008 {
  font-size: 70px;
}
.home-caption {
  color: rgb(124, 124, 128);
  width: 554px;
  font-size: 24px;
  max-width: 600px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  line-height: 36px;
}
.home-container05 {
  flex: 0 0 auto;
  width: 481px;
  height: 658px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.home-image2 {
  width: 100%;
  height: 622px;
  align-self: center;
  object-fit: cover;
  padding-right: var(--dl-space-space-twounits);
}
.home-discography {
  gap: var(--dl-space-space-fourunits);
  height: 465px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-slider {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-slider-container {
  gap: initial;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-slider-track {
  gap: var(--dl-space-space-fourunits);
  width: 1386px;
  display: flex;
}
.home-slide {
  position: relative;
  background-color: var(--dl-color-primary-mygreen);
}
.home-image3 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-text015 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0);
  right: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  font-size: 35px;
  transition: 0.3s;
  font-family: Courier New;
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.home-text015:hover {
  top: 0px;
  left: 0px;
  color: #000000;
  right: 0px;
  position: absolute;
  font-style: italic;
  margin-top: 0px;
  text-align: center;
  font-weight: 400;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.2) 0.00%,rgba(0, 0, 0, 0.65) 100.00%);
}
.home-slide1 {
  background-color: var(--dl-color-primary-cleanslate);
}
.home-image4 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
  aspect-ratio: 1;
}
.home-image4:hover {
  opacity: 0.2;
}
.home-image5 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-image6 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-image7 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-controls {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-previous {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: var(--dl-color-primary-mygreen);
}
.home-icon09 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.home-next {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: var(--dl-color-primary-mygreen);
}
.home-icon11 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.home-container06 {
  width: 100%;
  height: 131px;
  display: flex;
  align-items: flex-start;
}
.home-heading2 {
  top: 2442px;
  left: 435px;
  color: rgb(234, 225, 213);
  width: 945px;
  position: absolute;
  font-size: 100px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Exo 2;
  font-weight: 500;
}
.home-text020 {
  font-size: 70px;
}
.home-spotify-player {
  width: 100%;
  height: 429px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.home-code-embed2 {
  top: -Infinitypx;
  left: 0px;
  right: 0px;
  width: 1173px;
  height: 378px;
  margin: auto;
  position: absolute;
  margin-bottom: auto;
}
.home-live-sessions {
  gap: var(--dl-space-space-twounits);
  width: 1479px;
  height: 567px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-div {
  align-self: center;
}
.home-div1 {
  padding-left: var(--dl-space-space-threeunits);
}
.home-container08 {
  width: 100%;
  height: 1242px;
  display: flex;
  align-items: flex-start;
  padding-left: 265px;
  padding-right: 265px;
  justify-content: flex-start;
}
.home-container09 {
  flex: 0 0 auto;
  width: 50%;
  height: 1035px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text022 {
  color: var(--dl-color-primary-mygreen);
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-family: Source Code Pro;
  font-weight: 300;
}
.home-text023 {
  font-size: 30px;
  font-weight: 500;
}
.home-text024 {
  font-style: normal;
}
.home-text025 {
  color: #eae1d5;
  font-style: normal;
}
.home-text026 {
  color: #eae1d5;
  font-style: normal;
}
.home-text027 {
  color: #eae1d5;
  font-style: normal;
}
.home-text028 {
  color: #eae1d5;
  font-style: normal;
}
.home-text029 {
  color: #eae1d5;
  font-style: normal;
}
.home-text030 {
  color: #eae1d5;
  font-style: normal;
}
.home-text031 {
  color: #eae1d5;
  font-style: normal;
}
.home-text032 {
  color: #eae1d5;
  font-style: normal;
}
.home-text033 {
  color: #eae1d5;
  font-style: normal;
}
.home-text034 {
  font-style: normal;
}
.home-text035 {
  font-style: normal;
}
.home-text036 {
  font-size: 30px;
  font-weight: 500;
}
.home-text037 {
  font-style: normal;
}
.home-text038 {
  color: #eae1d5;
  font-style: normal;
}
.home-text039 {
  color: #eae1d5;
  font-style: normal;
}
.home-text040 {
  color: #eae1d5;
  font-style: normal;
}
.home-text041 {
  color: #eae1d5;
  font-style: normal;
}
.home-text042 {
  color: #eae1d5;
  font-style: normal;
}
.home-text043 {
  color: #eae1d5;
  font-style: normal;
}
.home-text044 {
  color: #eae1d5;
  font-style: normal;
}
.home-text045 {
  color: #eae1d5;
  font-style: normal;
}
.home-text046 {
  color: #eae1d5;
  font-style: normal;
}
.home-text047 {
  color: #eae1d5;
  font-style: normal;
}
.home-text048 {
  color: #eae1d5;
  font-style: normal;
}
.home-text049 {
  font-style: normal;
}
.home-text050 {
  font-style: normal;
}
.home-text051 {
  font-size: 30px;
  font-weight: 500;
}
.home-text052 {
  font-style: normal;
}
.home-text053 {
  color: #eae1d5;
  font-style: normal;
}
.home-text054 {
  color: #eae1d5;
  font-style: normal;
}
.home-text055 {
  color: #eae1d5;
  font-style: normal;
}
.home-text056 {
  color: #eae1d5;
  font-style: normal;
}
.home-text057 {
  color: #eae1d5;
  font-style: normal;
}
.home-text058 {
  color: #eae1d5;
  font-style: normal;
}
.home-text059 {
  color: #eae1d5;
  font-style: normal;
}
.home-text060 {
  color: #eae1d5;
  font-style: normal;
}
.home-text061 {
  color: #eae1d5;
  font-style: normal;
}
.home-text062 {
  color: #eae1d5;
  font-style: normal;
}
.home-text063 {
  color: #eae1d5;
  font-style: normal;
}
.home-text064 {
  color: #eae1d5;
  font-style: normal;
}
.home-text065 {
  color: #eae1d5;
  font-style: normal;
}
.home-text066 {
  color: #eae1d5;
  font-style: normal;
}
.home-text067 {
  color: #eae1d5;
  font-style: normal;
}
.home-text068 {
  font-style: normal;
}
.home-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: 1142px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text069 {
  color: var(--dl-color-primary-mygreen);
  width: 100%;
  height: 100%;
  font-size: 34px;
  font-family: Source Code Pro;
  font-weight: 300;
  padding-left: var(--dl-space-space-unit);
}
.home-text070 {
  font-size: 30px;
  font-weight: 500;
}
.home-text071 {
  font-size: 25px;
  font-style: normal;
}
.home-text072 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text073 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text074 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text075 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text076 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text077 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text078 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text079 {
  font-size: 25px;
  font-style: normal;
}
.home-text080 {
  font-size: 25px;
  font-style: normal;
}
.home-text081 {
  font-size: 25px;
  font-style: normal;
}
.home-text082 {
  font-size: 30px;
  font-weight: 500;
}
.home-text083 {
  font-size: 25px;
  font-style: normal;
}
.home-text084 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text085 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text086 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text087 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text088 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text089 {
  font-size: 25px;
  font-style: normal;
}
.home-text090 {
  font-size: 25px;
  font-style: normal;
}
.home-text091 {
  font-size: 25px;
  font-style: normal;
}
.home-text092 {
  font-size: 30px;
  font-weight: 500;
}
.home-text093 {
  font-size: 25px;
  font-style: normal;
}
.home-text094 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text095 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text096 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text097 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text098 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text099 {
  font-size: 25px;
  font-style: normal;
}
.home-text100 {
  font-size: 25px;
  font-style: normal;
}
.home-text101 {
  font-size: 30px;
  font-weight: 500;
}
.home-text102 {
  font-size: 25px;
  font-style: normal;
}
.home-text103 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text104 {
  color: #eae1d5;
  font-size: 25px;
  font-style: normal;
}
.home-text105 {
  font-style: normal;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-create {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  background-color: #2b6362;
}
.home-header1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading3 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-text106 {
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.home-button {
  background-color: #000000;
}
.home-what-i-do {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-heading4 {
  top: -9px;
  left: -766px;
  color: rgb(234, 225, 213);
  width: 1019px;
  position: absolute;
  font-size: 100px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Exo 2;
  font-weight: 500;
}
.home-text111 {
  font-size: 70px;
}
.home-content1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: row;
  justify-content: flex-start;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.home-stat {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-right-width: 1px;
}
.home-header2 {
  color: var(--dl-color-primary-tea);
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 73px;
}
.home-caption1 {
  color: rgb(124, 124, 128);
  font-size: 16px;
  line-height: 24px;
}
.home-checkmarks {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-check {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #859e9e;
}
.home-icon13 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text113 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark01 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon15 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text114 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark02 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon17 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text115 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon19 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text116 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-stat1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-right-width: 1px;
}
.home-header3 {
  color: var(--dl-color-primary-tea);
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 73px;
}
.home-caption2 {
  color: rgb(124, 124, 128);
  font-size: 16px;
  line-height: 24px;
}
.home-checkmarks1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-check04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon21 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text117 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon23 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text118 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark06 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon25 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text119 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark07 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon27 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text120 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-stat2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-header4 {
  color: var(--dl-color-primary-tea);
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 73px;
}
.home-caption3 {
  color: rgb(124, 124, 128);
  font-size: 16px;
  line-height: 24px;
}
.home-checkmarks2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-check08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark08 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon29 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text121 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark09 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon31 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text124 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark10 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon33 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text125 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark11 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon35 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text126 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-stat3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1164px;
  height: 474px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-header5 {
  top: 39px;
  left: 446px;
  color: var(--dl-color-primary-tea);
  position: absolute;
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 73px;
}
.home-checkmarks3 {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 173px;
  left: 158px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-check12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark12 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon37 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text127 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark13 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon39 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text130 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark14 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon41 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text131 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark15 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon43 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text132 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-checkmarks4 {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 171px;
  left: 692px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-check16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark16 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon45 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text133 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark17 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon47 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text136 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark18 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon49 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text137 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark19 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon51 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text138 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-caption4 {
  top: 121px;
  left: 160px;
  color: rgb(124, 124, 128);
  position: absolute;
  font-size: 16px;
  line-height: 24px;
}
.home-caption5 {
  top: 124px;
  left: 695px;
  color: rgb(124, 124, 128);
  position: absolute;
  font-size: 16px;
  line-height: 24px;
}
.home-stat4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1164px;
  height: 484px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-header6 {
  top: 44px;
  left: 714px;
  color: var(--dl-color-primary-tea);
  position: absolute;
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 73px;
}
.home-header7 {
  top: 52px;
  left: 215px;
  color: var(--dl-color-primary-tea);
  position: absolute;
  font-size: 62px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 500;
  line-height: 73px;
}
.home-checkmarks5 {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 157px;
  right: 24px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-check20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark20 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon53 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text139 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark21 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon55 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text142 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check22 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark22 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon57 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text145 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check23 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark23 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon59 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text146 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-checkmarks6 {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 173px;
  left: 158px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-check24 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark24 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon61 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text147 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check25 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark25 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon63 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text150 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check26 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark26 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon65 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text153 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check27 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark27 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-submarine);
}
.home-icon67 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text154 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-container13 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container14 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-content2 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 1px;
}
.home-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text155 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
}
.home-button1 {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
}
.home-image8 {
  width: 21px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .home-slider-container {
    height: 531px;
    position: relative;
  }
  .home-slide {
    flex: initial;
    background-color: transparent;
  }
  .home-image3 {
    width: 300px;
    height: 300px;
  }
  .home-slide1 {
    flex: initial;
    background-color: #0049ff;
  }
  .home-image4 {
    width: 300px;
    height: 300px;
  }
  .home-slide2 {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .home-image5 {
    width: 300px;
    height: 300px;
  }
  .home-slide3 {
    flex: 1;
    background-color: transparent;
  }
  .home-image6 {
    width: 300px;
    height: 300px;
  }
  .home-slide4 {
    flex: 1;
    background-color: transparent;
  }
  .home-image7 {
    width: 300px;
    height: 300px;
  }
  .home-controls {
    height: 97px;
  }
  .home-container11 {
    height: auto;
  }
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-slider {
    gap: var(--dl-space-space-twounits);
  }
  .home-image3 {
    width: 100%;
    height: 120px;
  }
  .home-image4 {
    width: 100%;
    height: 120px;
  }
  .home-image5 {
    width: 100%;
    height: 120px;
  }
  .home-image6 {
    width: 100%;
    height: 120px;
  }
  .home-image7 {
    width: 100%;
    height: 120px;
  }
  .home-content {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading3 {
    font-size: 50px;
  }
  .home-content1 {
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-stat {
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home-stat1 {
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home-stat2 {
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-stat3 {
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-stat4 {
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-blog {
    flex-direction: column;
  }
  .home-container13 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container14 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-content2 {
    border-top-width: 0px;
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
  }
  .home-heading {
    font-size: 60px;
  }
  .home-about {
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    font-size: 60px;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .home-discography {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-slider {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-previous {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-icon09 {
    width: 14px;
    height: 14px;
  }
  .home-next {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-icon11 {
    width: 14px;
    height: 14px;
  }
  .home-heading2 {
    font-size: 60px;
  }
  .home-create {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading3 {
    font-size: 36px;
  }
  .home-what-i-do {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading4 {
    font-size: 60px;
  }
  .home-stat {
    gap: var(--dl-space-space-unit);
  }
  .home-header2 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-stat1 {
    gap: var(--dl-space-space-unit);
  }
  .home-header3 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-caption2 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-stat2 {
    gap: var(--dl-space-space-unit);
  }
  .home-header4 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-caption3 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-stat3 {
    gap: var(--dl-space-space-unit);
  }
  .home-header5 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-caption4 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-caption5 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-stat4 {
    gap: var(--dl-space-space-unit);
  }
  .home-header6 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-header7 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-hamburger {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-icon {
    width: 30px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero-content {
    gap: var(--dl-space-space-threeunits);
  }
  .home-heading {
    font-size: 36px;
  }
  .home-heading1 {
    font-size: 36px;
  }
  .home-heading2 {
    font-size: 36px;
  }
  .home-heading3 {
    color: rgb(255, 255, 255);
    font-style: normal;
    text-align: center;
    font-weight: 500;
  }
  .home-button {
    text-align: center;
  }
  .home-heading4 {
    font-size: 36px;
  }
  .home-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-bottom {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-button1 {
    justify-content: center;
  }
}
