.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #292a2a;
}
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0nits;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0e0e12;
}
.home-header {
  width: 100%;
  height: 57px;
  z-index: 900;
  max-width: 100%;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text {
  font-family: Raleway;
  font-weight: 600;
  margin-left: 150px;
}
.home-text001 {
  color: var(--dl-color-primary-tea);
  font-style: normal;
}
.home-text002 {
  color: var(--dl-color-primary-tea);
  font-style: normal;
}
.home-text003 {
  font-style: normal;
}
.home-text004 {
  font-style: normal;
}
.home-text005 {
  color: var(--dl-color-primary-submarine);
  font-style: normal;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0e0e12;
}
.home-heading {
  top: 366px;
  left: 0px;
  color: rgb(234, 225, 213);
  right: 0px;
  width: 649px;
  margin: auto;
  position: absolute;
  font-size: 100px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
}
.home-text008 {
  top: 477px;
  left: 0px;
  color: rgb(43, 99, 98);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 40px;
  align-self: center;
  text-align: center;
  font-family: Raleway;
  font-weight: 300;
  text-transform: uppercase;
}
.home-image01 {
  width: 758px;
  height: 737px;
  display: none;
  opacity: 0.1;
  z-index: 5;
  align-self: center;
  object-fit: cover;
}
.home-about {
  width: 1640px;
  height: 1006px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.home-container02 {
  width: auto;
  height: 782px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-self: center;
  align-items: flex-start;
  border-color: #2c2d2d;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(54, 55, 55) 1.00%,rgb(44, 45, 45) 100.00%);
}
.home-container03 {
  flex: 0 0 auto;
  width: 517px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.home-container05 {
  flex: 0 0 auto;
  width: 42px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon10 {
  fill: var(--dl-color-primary-submarine);
  width: 100%;
  height: 100%;
}
.home-heading1 {
  color: rgb(234, 225, 213);
  width: 416px;
  font-size: 70px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Exo 2;
  font-weight: 500;
}
.home-heading1:hover {
  color: var(--dl-color-primary-tea);
}
.home-text011 {
  font-family: Raleway;
}
.home-caption {
  color: var(--dl-color-primary-whiteish);
  width: 428px;
  height: 459px;
  font-size: 16px;
  max-width: 600px;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: justify;
  line-height: 36px;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-right: var(--dl-space-space-fourunits);
  justify-content: flex-end;
}
.home-link {
  display: contents;
}
.home-icon12 {
  fill: var(--dl-color-primary-submarine);
  color: var(--dl-color-primary-tea);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-icon12:hover {
  fill: var(--dl-color-primary-mygreen);
}
.home-link1 {
  display: contents;
}
.home-icon14 {
  fill: var(--dl-color-primary-submarine);
  color: var(--dl-color-primary-tea);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
  text-decoration: none;
}
.home-icon14:hover {
  fill: var(--dl-color-primary-mygreen);
}
.home-container07 {
  flex: 0 0 auto;
  width: 441px;
  height: 658px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.home-container08 {
  width: 429px;
  height: 550px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  background-size: cover;
  justify-content: center;
  background-image: url('https://freight.cargo.site/w/1000/q/75/i/7b4657985ec23c398deb3e89e5b0824834f44d4c9fe305046822e083954f573d/linhnguyen_ruby_linhnguyen_010.jpg');
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-text018 {
  width: 100%;
  height: 100%;
}
.home-mobile-photo {
  flex: 0 0 auto;
  width: 481px;
  height: 658px;
  display: none;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image02 {
  width: 467px;
  height: 594px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.home-discography {
  gap: var(--dl-space-space-fourunits);
  height: 465px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-slider {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-slider-container {
  gap: initial;
  width: 1224px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-slider-track-container {
  align-items: center;
  justify-content: center;
}
.home-slider-track {
  gap: var(--dl-space-space-unit);
  width: 1304px;
  display: flex;
  opacity: 1;
}
.home-slide {
  position: relative;
  background-color: var(--dl-color-primary-mygreen);
}
.home-text019 {
  top: 0px;
  left: 0px;
  color: rgba(197, 187, 172, 0);
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  font-size: x-large;
  text-align: center;
  transition: 0.3s;
  line-height: 1.5;
}
.home-text019:hover {
  color: var(--dl-color-primary-tea);
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(48, 48, 48, 0.61) 0.00%,rgb(28, 27, 27) 100.00%);
}
.home-text020 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text021 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text022 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text023 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text024 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text025 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text026 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text027 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text028 {
  font-size: 23px;
  font-style: normal;
  font-family: Source Code Pro;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}
.home-image03 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-slide1 {
  position: relative;
  background-color: var(--dl-color-primary-cleanslate);
}
.home-image04 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
  aspect-ratio: 1;
}
.home-image04:hover {
  opacity: 0.2;
}
.home-text031 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0);
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  font-size: x-large;
  text-align: center;
  transition: 0.3s;
  line-height: 1.5;
}
.home-text031:hover {
  color: var(--dl-color-primary-tea);
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(48, 48, 48, 0.61) 0.00%,rgb(28, 27, 27) 100.00%);
}
.home-text032 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text033 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text034 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text035 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text036 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text037 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text038 {
  font-style: normal;
  font-family: Source Code Pro;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}
.home-slide2 {
  position: relative;
}
.home-text041 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0);
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  font-size: x-large;
  text-align: center;
  transition: 0.3s;
  line-height: 1.5;
}
.home-text041:hover {
  color: var(--dl-color-primary-tea);
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(48, 48, 48, 0.61) 0.00%,rgb(28, 27, 27) 100.00%);
}
.home-text042 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text043 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text044 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text045 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text046 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text047 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text048 {
  font-style: normal;
  font-family: Source Code Pro;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}
.home-image05 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-slide3 {
  position: relative;
}
.home-text051 {
  top: 0px;
  left: 0px;
  color: rgba(197, 187, 172, 0);
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  font-size: x-large;
  text-align: center;
  transition: 0.3s;
  line-height: 1.5;
}
.home-text051:hover {
  color: var(--dl-color-primary-tea);
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(48, 48, 48, 0.61) 0.00%,rgb(28, 27, 27) 100.00%);
}
.home-text053 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text055 {
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text058 {
  font-style: normal;
  font-family: Source Code Pro;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}
.home-image06 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-slide4 {
  position: relative;
  background-color: var(--dl-color-primary-cleanslate);
}
.home-image07 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-text061 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0);
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  font-size: x-large;
  text-align: center;
  transition: 0.3s;
  line-height: 1.5;
}
.home-text061:hover {
  color: var(--dl-color-primary-tea);
  opacity: 1;
  background-image: linear-gradient(0deg, rgba(48, 48, 48, 0.61) 0.00%,rgb(28, 27, 27) 100.00%);
}
.home-text062 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text063 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text064 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text065 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text066 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text067 {
  font-size: 25px;
  font-family: Raleway;
  text-transform: none;
  text-decoration: none;
}
.home-text068 {
  font-size: 23px;
  font-style: normal;
  font-family: Source Code Pro;
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}
.home-controls {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-previous {
  display: flex;
  transition: 0.3s;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: var(--dl-color-primary-submarine);
}
.home-previous:hover {
  background-color: var(--dl-color-primary-mygreen);
}
.home-icon16 {
  fill: var(--dl-color-primary-whiteish);
  width: 24px;
  height: 24px;
}
.home-next {
  display: flex;
  transition: 0.3s;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: var(--dl-color-primary-submarine);
}
.home-next:hover {
  background-color: var(--dl-color-primary-mygreen);
}
.home-icon18 {
  fill: var(--dl-color-primary-whiteish);
  width: 24px;
  height: 24px;
}
.home-spotify-player {
  width: 1050px;
  height: 930px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: calc(8px + 1.5vw);
  padding-right: calc(8px + 1.5vw);
  flex-direction: column;
  justify-content: center;
}
.home-container09 {
  width: 100%;
  height: 147px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.home-container10 {
  flex: 0 0 auto;
  width: 463px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 0px;
  justify-content: center;
}
.home-container11 {
  flex: 0 0 auto;
  width: 42px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon20 {
  fill: var(--dl-color-primary-submarine);
  width: 100%;
  height: 100%;
}
.home-heading2 {
  color: rgb(234, 225, 213);
  width: 416px;
  font-size: 70px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Exo 2;
  font-weight: 500;
}
.home-heading2:hover {
  color: var(--dl-color-primary-tea);
}
.home-text071 {
  font-family: Raleway;
}
.home-code-embed2 {
  width: 845px;
  height: 400px;
  align-self: center;
  max-height: 400px;
  margin-bottom: 30px;
}
.home-live-sessions {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 323px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.home-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-div {
  width: 434px;
  height: 278px;
  align-self: flex-start;
}
.home-div1 {
  width: 427px;
  height: 100%;
  align-self: flex-start;
  padding-left: 0px;
}
.home-container13 {
  width: 100%;
  height: 21px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-text073 {
  top: -23px;
  left: 183px;
  color: var(--dl-color-gray-500);
  position: absolute;
  text-align: center;
  font-family: Raleway;
}
.home-what-i-do-web {
  width: 1050px;
  height: 932px;
  display: flex;
  align-items: flex-start;
  padding-left: calc(8px + 1.5vw);
  padding-right: calc(8px + 1.5vw);
  justify-content: flex-start;
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 954px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container15 {
  width: 966px;
  height: 183px;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: flex-start;
}
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 0px;
  justify-content: center;
}
.home-container17 {
  flex: 0 0 auto;
  width: 42px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon22 {
  fill: var(--dl-color-primary-submarine);
  width: 100%;
  height: 100%;
}
.home-heading3 {
  color: rgb(234, 225, 213);
  width: 416px;
  font-size: 70px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Exo 2;
  font-weight: 500;
}
.home-heading3:hover {
  color: var(--dl-color-primary-tea);
}
.home-text074 {
  font-family: Raleway;
}
.home-text075 {
  font-size: inherit;
}
.home-container18 {
  flex: 0 0 auto;
  width: auto;
  height: 637px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container19 {
  flex: 0 0 auto;
  width: 50%;
  height: 637px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text076 {
  color: var(--dl-color-primary-mygreen);
  width: 100%;
  height: 100%;
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 300;
  line-height: 1.2;
  padding-left: var(--dl-space-space-sixunits);
}
.home-text077 {
  font-size: 20px;
  font-weight: 500;
}
.home-text078 {
  font-style: normal;
}
.home-text079 {
  color: #eae1d5;
  font-style: normal;
}
.home-text080 {
  color: #eae1d5;
  font-style: normal;
}
.home-text081 {
  color: #eae1d5;
  font-style: normal;
}
.home-text082 {
  color: #eae1d5;
  font-style: normal;
}
.home-text083 {
  color: #eae1d5;
  font-style: normal;
}
.home-text084 {
  color: #eae1d5;
  font-style: normal;
}
.home-text085 {
  color: #eae1d5;
  font-style: normal;
}
.home-text086 {
  color: #eae1d5;
  font-style: normal;
}
.home-text087 {
  color: #eae1d5;
  font-style: normal;
}
.home-text088 {
  font-style: normal;
}
.home-text089 {
  font-style: normal;
}
.home-text090 {
  font-size: 20px;
  font-weight: 500;
}
.home-text091 {
  font-style: normal;
}
.home-text092 {
  color: #eae1d5;
  font-style: normal;
}
.home-text093 {
  color: #eae1d5;
  font-style: normal;
}
.home-text094 {
  color: #eae1d5;
  font-style: normal;
}
.home-text095 {
  color: #eae1d5;
  font-style: normal;
}
.home-text096 {
  color: #eae1d5;
  font-style: normal;
}
.home-text097 {
  color: #eae1d5;
  font-style: normal;
}
.home-text098 {
  color: #eae1d5;
  font-style: normal;
}
.home-text099 {
  color: #eae1d5;
  font-style: normal;
}
.home-text100 {
  color: #eae1d5;
  font-style: normal;
}
.home-text101 {
  color: #eae1d5;
  font-style: normal;
}
.home-text102 {
  color: #eae1d5;
  font-style: normal;
}
.home-text103 {
  font-style: normal;
}
.home-text104 {
  font-style: normal;
}
.home-text105 {
  font-size: 20px;
  font-weight: 500;
}
.home-text106 {
  font-style: normal;
}
.home-text107 {
  color: #eae1d5;
  font-style: normal;
}
.home-text108 {
  color: #eae1d5;
  font-style: normal;
}
.home-text109 {
  color: #eae1d5;
  font-style: normal;
}
.home-text110 {
  color: #eae1d5;
  font-style: normal;
}
.home-text111 {
  color: #eae1d5;
  font-style: normal;
}
.home-text112 {
  color: #eae1d5;
  font-style: normal;
}
.home-text113 {
  color: #eae1d5;
  font-style: normal;
}
.home-text114 {
  color: #eae1d5;
  font-style: normal;
}
.home-text115 {
  color: #eae1d5;
  font-style: normal;
}
.home-text116 {
  color: #eae1d5;
  font-style: normal;
}
.home-text117 {
  color: #eae1d5;
  font-style: normal;
}
.home-text118 {
  color: #eae1d5;
  font-style: normal;
}
.home-text119 {
  color: #eae1d5;
  font-style: normal;
}
.home-text120 {
  color: #eae1d5;
  font-style: normal;
}
.home-text121 {
  color: #eae1d5;
  font-style: normal;
}
.home-text122 {
  font-style: normal;
}
.home-text123 {
  color: var(--dl-color-primary-mygreen);
  width: 100%;
  height: 100%;
  font-size: 18px;
  align-self: flex-start;
  font-family: Source Code Pro;
  font-weight: 300;
  line-height: 1.2;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-sixunits);
}
.home-text124 {
  font-weight: 500;
}
.home-text125 {
  font-style: normal;
}
.home-text126 {
  color: #eae1d5;
  font-style: normal;
}
.home-text127 {
  color: #eae1d5;
  font-style: normal;
}
.home-text128 {
  color: #eae1d5;
  font-style: normal;
}
.home-text129 {
  color: #eae1d5;
  font-style: normal;
}
.home-text130 {
  color: #eae1d5;
  font-style: normal;
}
.home-text131 {
  color: #eae1d5;
  font-style: normal;
}
.home-text132 {
  color: #eae1d5;
  font-style: normal;
}
.home-text133 {
  font-style: normal;
}
.home-text134 {
  font-style: normal;
}
.home-text135 {
  font-style: normal;
}
.home-text136 {
  font-weight: 500;
}
.home-text137 {
  font-style: normal;
}
.home-text138 {
  color: #eae1d5;
  font-style: normal;
}
.home-text139 {
  color: #eae1d5;
  font-style: normal;
}
.home-text140 {
  color: #eae1d5;
  font-style: normal;
}
.home-text141 {
  color: #eae1d5;
  font-style: normal;
}
.home-text142 {
  color: #eae1d5;
  font-style: normal;
}
.home-text143 {
  color: #eae1d5;
  font-style: normal;
}
.home-text144 {
  color: #eae1d5;
  font-style: normal;
}
.home-text145 {
  font-style: normal;
}
.home-text146 {
  font-style: normal;
}
.home-text147 {
  font-weight: 500;
}
.home-text148 {
  font-style: normal;
}
.home-text149 {
  color: #eae1d5;
  font-style: normal;
}
.home-text150 {
  color: #eae1d5;
  font-style: normal;
}
.home-text151 {
  color: #eae1d5;
  font-style: normal;
}
.home-text152 {
  color: #eae1d5;
  font-style: normal;
}
.home-text153 {
  color: #eae1d5;
  font-style: normal;
}
.home-text154 {
  font-style: normal;
}
.home-text155 {
  font-style: normal;
}
.home-text156 {
  font-weight: 500;
}
.home-text157 {
  color: #eae1d5;
  font-style: normal;
}
.home-text158 {
  color: #eae1d5;
  font-style: normal;
}
.home-text159 {
  color: #eae1d5;
  font-style: normal;
}
.home-text160 {
  font-style: normal;
}
.home-what-i-do-mobile {
  width: 100%;
  height: 669px;
  display: none;
  align-items: center;
  padding-left: calc(15px + 1.5vw);
  padding-right: calc(15px + 1.5vw);
  justify-content: center;
}
.home-contact {
  gap: var(--dl-space-space-fourunits);
  width: 755px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 564px;
  height: 355px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-image: linear-gradient(225deg, rgb(47, 64, 63) 15.00%,rgb(29, 54, 57) 100.00%);
}
.home-container20 {
  width: 584px;
  height: 314px;
  display: flex;
  position: relative;
  align-items: center;
  padding-right: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-text234 {
  top: 89px;
  left: 79px;
  color: var(--dl-color-primary-whiteish);
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  text-align: right;
  font-family: Raleway;
  font-weight: 300;
}
.home-text235 {
  font-size: 20px;
  font-weight: 700;
}
.home-text239 {
  top: 120px;
  left: 378px;
  color: var(--dl-color-primary-whiteish);
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 300;
}
.home-text243 {
  top: 173px;
  left: 67px;
  color: var(--dl-color-primary-whiteish);
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 300;
}
.home-text244 {
  font-size: 20px;
}
.home-link2 {
  display: contents;
}
.home-icon24 {
  top: 167px;
  fill: var(--dl-color-primary-whiteish);
  left: 374px;
  color: var(--dl-color-primary-tea);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.home-icon24:hover {
  fill: var(--dl-color-primary-tea);
}
.home-link3 {
  display: contents;
}
.home-icon26 {
  top: 167px;
  fill: var(--dl-color-primary-whiteish);
  left: 425px;
  color: var(--dl-color-primary-tea);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.home-icon26:hover {
  fill: var(--dl-color-primary-tea);
}
.home-icon28 {
  top: 91px;
  fill: var(--dl-color-primary-submarine);
  left: 75px;
  width: 17px;
  height: 18px;
  position: absolute;
}
.home-image08 {
  top: 103px;
  left: 218px;
  width: 324px;
  height: 324px;
  opacity: 0.1;
  z-index: 5;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.home-blog {
  width: 100%;
  height: 131px;
  display: none;
  align-items: flex-start;
}
.home-heading4 {
  color: rgb(234, 225, 213);
  width: 1671px;
  font-size: 100px;
  max-width: 790px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Exo 2;
  font-weight: 500;
  padding-left: var(--dl-space-space-sixunits);
}
.home-text248 {
  font-size: 70px;
}
.home-text249 {
  color: var(--dl-color-primary-submarine);
  font-size: 70px;
}
.home-text250 {
  font-size: 70px;
}
.home-blog1 {
  width: 1601px;
  height: 763px;
  display: none;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-container21 {
  width: 486px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container22 {
  width: 502px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container23 {
  width: 452px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-content1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 1px;
}
.home-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text252 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
}
.home-link4 {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-bazaar);
}
.home-image09 {
  width: 21px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .home-slider-container {
    height: 531px;
    position: relative;
  }
  .home-slide {
    flex: initial;
    background-color: transparent;
  }
  .home-image03 {
    width: 300px;
    height: 300px;
  }
  .home-slide1 {
    flex: initial;
    background-color: #0049ff;
  }
  .home-image04 {
    width: 300px;
    height: 300px;
  }
  .home-slide2 {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .home-image05 {
    width: 300px;
    height: 300px;
  }
  .home-slide3 {
    flex: 1;
    background-color: transparent;
  }
  .home-image06 {
    width: 300px;
    height: 300px;
  }
  .home-slide4 {
    flex: 1;
    background-color: transparent;
  }
  .home-image07 {
    width: 300px;
    height: 300px;
  }
  .home-controls {
    height: 97px;
  }
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-slider {
    gap: var(--dl-space-space-twounits);
  }
  .home-image03 {
    width: 100%;
    height: 120px;
  }
  .home-image04 {
    width: 100%;
    height: 120px;
  }
  .home-image05 {
    width: 100%;
    height: 120px;
  }
  .home-image06 {
    width: 100%;
    height: 120px;
  }
  .home-image07 {
    width: 100%;
    height: 120px;
  }
  .home-content {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-blog1 {
    flex-direction: column;
  }
  .home-container21 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container22 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-content1 {
    border-top-width: 0px;
  }
}
@media(max-width: 767px) {
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-heading {
    font-size: 60px;
  }
  .home-about {
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    font-size: 60px;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .home-discography {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-slider {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-previous {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-next {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-heading2 {
    font-size: 60px;
  }
  .home-heading3 {
    font-size: 60px;
  }
  .home-contact {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading4 {
    font-size: 60px;
  }
  .home-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-hero {
    height: 630px;
    padding-left: 0px;
  }
  .home-header {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-text {
    font-family: Raleway;
    font-weight: 600;
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-text001 {
    color: var(--dl-color-primary-tea);
    font-style: normal;
  }
  .home-text002 {
    color: var(--dl-color-primary-tea);
    font-style: inherit;
    font-weight: 800;
  }
  .home-text003 {
    font-style: normal;
    font-weight: 700;
  }
  .home-text004 {
    font-style: normal;
  }
  .home-text005 {
    color: var(--dl-color-primary-submarine);
    font-style: normal;
  }
  .home-burger-menu {
    background-color: var(--dl-color-primary-tea);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero-content {
    gap: var(--dl-space-space-threeunits);
    flex: 0 0 auto;
    width: 100%;
    height: 579px;
  }
  .home-heading {
    top: 197px;
    left: 3px;
    color: rgb(234, 225, 213);
    width: 100%;
    font-size: 45px;
    font-style: normal;
    font-family: Raleway;
    font-weight: 500;
  }
  .home-text008 {
    top: 244px;
    left: 0px;
    color: rgb(43, 99, 98);
    width: 100%;
    height: 21px;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 300;
    text-transform: uppercase;
  }
  .home-about {
    width: 100%;
    height: 479px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: 0px;
  }
  .home-container03 {
    flex: 1;
    width: 100%;
    height: 475px;
    margin-right: var(--dl-space-space-halfunit);
    padding-right: 0px;
  }
  .home-heading1 {
    font-size: 36px;
  }
  .home-caption {
    width: 366px;
    height: 341px;
    margin-top: 0px;
  }
  .home-container06 {
    display: none;
    padding-right: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .home-container07 {
    display: none;
  }
  .home-container08 {
    width: 337px;
    height: 477px;
  }
  .home-mobile-photo {
    height: 502px;
    display: flex;
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .home-image02 {
    width: 337px;
    height: 477px;
  }
  .home-discography {
    height: 296px;
  }
  .home-slider-container {
    width: 466px;
    height: 264px;
  }
  .home-slider-track {
    width: 479px;
    height: 150px;
  }
  .home-text019 {
    font-size: smaller;
  }
  .home-image03 {
    width: 150px;
    height: 150px;
  }
  .home-image04 {
    width: 150px;
    height: 150px;
  }
  .home-text031 {
    width: 100%;
    height: 100%;
    font-size: smaller;
  }
  .home-text041 {
    width: 100%;
    height: 100%;
    font-size: smaller;
  }
  .home-image05 {
    width: 150px;
    height: 150px;
  }
  .home-text051 {
    color: rgba(197, 187, 172, 0);
    width: 100%;
    height: 100%;
    font-size: smaller;
    line-height: 1.5;
  }
  .home-text052 {
    font-size: 25px;
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
  }
  .home-text053 {
    font-size: 25px;
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
  }
  .home-text054 {
    font-size: 25px;
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
  }
  .home-text055 {
    font-size: 25px;
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
  }
  .home-text056 {
    font-size: 25px;
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
  }
  .home-text057 {
    font-size: 25px;
    font-family: Raleway;
    text-transform: none;
    text-decoration: none;
  }
  .home-text058 {
    font-size: 23px;
    font-style: normal;
    font-family: Source Code Pro;
    font-weight: 300;
    text-transform: none;
    text-decoration: none;
  }
  .home-image06 {
    width: 150px;
    height: 150px;
  }
  .home-image07 {
    width: 150px;
    height: 150px;
  }
  .home-text061 {
    font-size: smaller;
  }
  .home-spotify-player {
    height: 450px;
  }
  .home-container10 {
    width: 100%;
    margin-left: var(--dl-space-space-unit);
  }
  .home-heading2 {
    color: rgb(234, 225, 213);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
  }
  .home-text071 {
    font-family: Raleway;
  }
  .home-code-embed2 {
    width: 403px;
  }
  .home-live-sessions {
    width: 100%;
    display: none;
  }
  .home-container12 {
    width: 479px;
  }
  .home-div {
    width: 404px;
    height: 278px;
  }
  .home-what-i-do-web {
    display: none;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-container16 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-heading3 {
    font-size: 36px;
  }
  .home-what-i-do-mobile {
    height: 863px;
    display: flex;
    padding-left: calc(15px + 1.5vw);
    padding-right: calc(15px + 1.5vw);
  }
  .home-text161 {
    width: 80%;
    align-self: flex-start;
  }
  .home-text162 {
    color: var(--dl-color-primary-submarine);
    font-family: Source Code Pro;
    font-weight: 700;
  }
  .home-text163 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text164 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text165 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text166 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text167 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text168 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text169 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text170 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text171 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text172 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text173 {
    color: var(--dl-color-primary-submarine);
    font-family: Source Code Pro;
    font-weight: 700;
  }
  .home-text174 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text175 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text176 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text177 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text178 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text179 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text180 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text181 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text182 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text183 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text184 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text185 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text186 {
    color: var(--dl-color-primary-submarine);
    font-family: Source Code Pro;
    font-weight: 700;
  }
  .home-text187 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text188 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text189 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text190 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text191 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text192 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text193 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text194 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text195 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text196 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text197 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text198 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text199 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text200 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text201 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text202 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text203 {
    color: var(--dl-color-primary-submarine);
    font-family: Source Code Pro;
    font-weight: 700;
  }
  .home-text204 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text205 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text206 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text207 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text208 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text209 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text210 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text211 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text212 {
    color: var(--dl-color-primary-submarine);
    font-family: Source Code Pro;
    font-weight: 700;
  }
  .home-text213 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text214 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text215 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text216 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text217 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text218 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text219 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text220 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text221 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text222 {
    color: var(--dl-color-primary-submarine);
    font-family: Source Code Pro;
    font-weight: 700;
  }
  .home-text223 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text224 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text225 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text226 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text227 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text228 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text229 {
    color: var(--dl-color-primary-submarine);
    font-family: Source Code Pro;
    font-weight: 700;
  }
  .home-text230 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-text231 {
    color: var(--dl-color-primary-whiteish);
    font-family: Source Code Pro;
  }
  .home-content {
    width: 100%;
  }
  .home-container20 {
    width: 438px;
    padding-right: 0px;
    justify-content: center;
  }
  .home-blog {
    display: none;
  }
  .home-heading4 {
    font-size: 36px;
  }
  .home-blog1 {
    display: none;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-bottom {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-link4 {
    justify-content: center;
  }
}
